*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding-top: 10px;
    background-color: #00A3D4;
    height: 60px;
}

h2{
    margin: 20px;
}

section{
    padding: 20px;
    background-color: aqua;
}

.der{
    text-align: end;
    background-color: bisque;
}

ul li{
    padding-left: 20px;
    margin: 10px;
    list-style: none;
    font-size: large
}

footer{
    width: 100%;
    background-color: #00A3D4;
    color: black;
    height: 60px;
    justify-content: center;
    bottom: 0;
    position: relative;
}

footer p{
    padding-top: 20px;
    margin: 10px;
}

div{
    margin: 40px;
    text-align: center;
}

.back{
    margin: 30px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background-color: crimson;
    width: 120px;
    color: white;
    text-decoration: none;
}

.next{
    margin: 20px;
    height: 40px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 7px;
    background-color: crimson;
    width: 120px;
    color: white;
    text-decoration: none;
}

.next:hover{
    color:rgb(0, 149, 255);
}

.back:hover{
    color:rgb(0, 149, 255);
}

.ejem{
    border: 1px solid black;
    width: 150px;
    border-radius: 7px;
    background-color: #639cd9;
}

.der .ejem{
    background-color: #d6d0b8;
    
}